@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

body {
  margin: 0;
  background: #abd1c6;
  font-family: 'Roboto Condensed', sans-serif;
  color: #abd1c6;
}

main {
  max-width: 600px;
  margin: auto;
}
